<p id="notice"><%= notice %></p>


<h2>Pagina principal</h2>
Para probar las vistas del admin usar "admin@admin.cl" y clave "adminadmin"


<%= link_to 'Agregar saldo', agregar_saldo_path(:cantidad => 2000), :method => :post %>
<%= link_to 'Quitar saldo', quitar_saldo_path(:cantidad => 2000), :method => :post %>
